@mixin anchorStyle {
  text-decoration: underline;

  &.active {
    font-weight: bold;
  }
}

@mixin headerStyle($header, $type: main) {
  $settings: map-get($headers, $type);

  @each $breakpointSize, $headers in map-get($settings, sizes) {
    @include breakpoint($breakpointSize) {
      font-family: #{map-get($settings, family)};
      font-size: rem-calc(map-get($headers, $header));
      font-weight: map-get($settings, weight);

      $letter-spacing: map-get($settings, letter-spacing);
      $line-height: map-get($settings, line-height);

      @if ($letter-spacing) {
        letter-spacing: $letter-spacing;
      }

      @if ($line-height) {
        line-height: $line-height;
      }
    }
  }
}

@function getHeaderSettings($prop, $type: main) {
    $settings: map-get($headers, $type);
    @return map-get($settings, $prop);
}

@mixin fontFeatures() {
    font-feature-settings: "kern", "onum", "liga";
    font-kerning: auto;
    text-rendering: optimizeLegibility;
}
