---
layout: main
---

{% for post in paginator.posts %}
<div class="blog-post">
  <a href="{{site.baseurl}}{{post.url}}"><h2>{{post.title}}</h2></a>
  <div class="row">
  <div class="large-6 columns imagebox">
  <img class="thumbnail" src="{{ site.baseurl }}{{post.img}}">
</div><div class="large-6 columns textbox">
  <div class="text-justify">
  {{post.excerpt | markdownify }}
</div>
  <!--<div class="clearfix date-author">-->
  <div class="row">
    <!--<div class="float-left">-->
      <div class="small-6 columns">
      <a href="{{site.baseurl}}{{post.url}}">Číst dále</a>
    </div>
    <!--<div  class="float-right">-->
    <div class="small-6 columns text-right">
      <small>{{post.date | date:"%d. %m. %Y"}}<br />
      {{post.author}}</small>
    </div>
  </div>
</div>
  </div>
  </div>
  <hr />

{% endfor %}

<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  {% if paginator.page == 1 %}
  <li class="pagination-previous disabled">Předchozí</li>
  {% else %}
  <li class="pagination-previous">
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" aria-label="Previous page">Předchozí</a>
  </li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
  <li {% if page == paginator.page %} class="current"{% endif %}>
    {% if page == paginator.page %}
      {{ forloop.index }}
    {% else %}
      {% if forloop.index == 1 %}
      <a href="{{ site.baseurl }}/" aria-label="Page {{ forloop.index }}">
    {% else %}
      <a href="{{ site.baseurl }}/stranka/{{forloop.index}}/" aria-label="Page {{ forloop.index }}">
    {% endif %}
      {{ forloop.index }}</a>
    {% endif %}
  </li>
  {% endfor %}


  {% if paginator.page == paginator.total_pages %}
  <li class="pagination-next disabled">Další</li>
  {% else %}
  <li class="pagination-next">
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" aria-label="Next page">Další</a>
  </li>
  {% endif %}
</ul>

{% assign site.posts = paginator.posts %}

<!-- Pagination links
{% if paginator.total_pages > 1 %}
<div>
  {% if paginator.previous_page %}
  <span id="newer"><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Novější</a></span>

  {% endif %}
  {% if paginator.next_page %}
  <span id="older"><a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Starší</a></span>
  {% endif %}
</div>
{% endif %}-->
