{# templates/partials/metadata.html #}
{# --- 1. PŘÍPRAVA DAT (Title, Description, Image) --- #}
{# TITULEK #}
{% set og_title = config.title %}
{% if page and page.title %}
    {% set og_title = page.title %}
{% elif section and section.title %}
{% set og_title = section.title %} {% endif %}


{# POPIS (Description) #}
{% set og_desc = config.description %}

{% if page %}
    {# JSME NA ČLÁNKU #}

    {# 1. Nejprve zkusíme zpracovat perex (pokud existuje) #}
    {% set clean_summary = "" %}
    {% if page.summary %}
        {% set clean_summary = page.summary | striptags | trim %}
    {% endif %}

    {# 2. Rozhodovací strom #}
    {% if page.description %}
        {# A) Ručně zadaný description #}
        {% set og_desc = page.description %}

    {% elif clean_summary | length > 0 %}
        {# B) Máme perex a po očištění v něm zbyl text -> Použijeme ho #}
        {% set og_desc = clean_summary | truncate(length=300) %}

    {% else %}
        {# C) Nemáme perex (nebo byl jen obrázek) -> Bereme začátek obsahu #}
        {% set og_desc = page.content | striptags | trim | truncate(length=300) %}
    {% endif %}

{% elif section %}
    {# ... sekce ... #}
    {% if section.description %}
        {% set og_desc = section.description %}
    {% endif %}
{% endif %}

{# OBRÁZEK (Image) #}
{% set og_image = config.extra.img %}

{% if page and page.extra.img %}
    {# 1. Absolutní cesta (uživatel zadal celou URL nebo cestu od kořene) #}
    {% if page.extra.img is starting_with("http") or page.extra.img is starting_with("/") %}
         {% set og_image = page.extra.img %}

    {# 2. Cesta s podsložkou (uživatel zadal 'posts/obrazek.jpg') #}
    {% elif page.extra.img is starting_with("posts/") %}
         {% set og_image = "/assets/img/" ~ page.extra.img %}

    {# 3. Pouze název souboru (uživatel zadal 'obrazek.jpg') #}
    {# Zde předpokládáme, že pokud jde o článek, obrázek je ve složce posts/ #}
    {% else %}
         {% set og_image = "/assets/img/posts/" ~ page.extra.img %}
    {% endif %}
{% endif %}

{# Absolutní URL pro obrázek #} {% set og_image_url =
get_url(path=og_image) %} {# --- 2. VÝPIS META TAGŮ --- #} {# Základní OG #}
<meta property="og:title" content="{{ og_title }}" />
<meta property="og:description" content="{{ og_desc }}" />
<meta
    property="og:type"
    content="{% if page and page.date %}article{% else %}website{% endif %}"
/>
<meta
    property="og:url"
    content="{{ current_url | default(value=config.base_url) }}"
/>
<meta property="og:image" content="{{ og_image_url }}" />
<meta property="og:site_name" content="{{ config.title }}" />

{# Twitter Card #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ og_title }}" />
<meta name="twitter:description" content="{{ og_desc }}" />
<meta name="twitter:image" content="{{ og_image_url }}" />
{% if config.extra.twitter_username %}
<meta name="twitter:creator" content="@{{ config.extra.twitter_username }}" />
{% endif %} {# Autorství (Multi-platformní) #}
<meta name="author" content="{{ config.extra.author }}" />

{% if page and page.date %}
<meta
    property="article:published_time"
    content="{{ page.date | date(format='%Y-%m-%d') }}"
/>

{# Array autorů pro různé sítě #}
<meta property="article:author" content="{{ config.extra.author }}" />

{% if config.extra.facebook_username %}
<meta
    property="article:author"
    content="https://www.facebook.com/{{ config.extra.facebook_username }}"
/>
{% endif %} {% if config.extra.linkedin_username %}
<meta
    property="article:author"
    content="https://www.linkedin.com/in/{{ config.extra.linkedin_username }}"
/>
{% endif %} {% if page.taxonomies and page.taxonomies.categories %}
<meta
    property="article:section"
    content="{{ page.taxonomies.categories[0] }}"
/>
{% endif %} {% endif %} {# Fediverse (Mastodon) #} {% if
config.extra.fediverse_creator %}
<meta name="fediverse:creator" content="{{ config.extra.fediverse_creator }}" />
{% endif %} {% if config.extra.mastodon_url %}
<link rel="me" href="{{ config.extra.mastodon_url }}" />
{% endif %}
