<footer class="footer">
  <div class="row">
    <div class="show-for-medium medium-2 columns">
      <div class="footer__brand">
        <a href="{{ site.baseurl }}"><img src="{{ 'assets/img/brand/logo_napis_white.svg' | relative_url }}" /></a>
      </div>
    </div>
    <div class="small-12 middle-4 medium-3 columns">
      <h3 class="footer-nav__headline">Ondřej Profant</h3>
      <ul class="no-bullet">
        <li>poslanec PSP ČR</li>
        <li>předseda <a href="https://praha.pirati.cz">Pirátů Praha</a></li>
      </ul>
    </div>
    <div class="small-12 middle-4 medium-3 columns">
      <h3 class="footer-nav__headline">Kontakt</h3>
      <ul class="no-bullet">
        <li>Malostranské náměstí 7/19</li>
        <li>Praha 1 - Malá strana</li>
        <li>+420 726 362 025 <small>(kancelář)</small></li>
        <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
      </ul>
    </div>
    <div class="small-12 middle-4 medium-3 medium-offset-1 columns">
      <h3 class="footer-nav__headline">Dále</h3>
      <ul class="no-bullet">
        <li><a href="{{'/leg' | baseurl}}">eGov legislativa</a></li>
        <li><a href="{{'/verejne-zakazky' | baseurl}}">veřejné zakázky</a></li>
        <li><a href="{{'/agenda' | baseurl}}">aktuální agenda</a></li>
      </ul>
    </div>
  </div>

  <div class="footer__copy">
    <div class="row">
      <div class="small-12 columns footer__copy-line">
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cz/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/cz/88x31.png" /></a> <small>Toto dílo podléhá licenci <a rel="license" href="http://creativecommons.org/licenses/by/3.0/cz/">Creative Commons Uveďte původ 3.0 Česká republika License</a>.</small>
      </div>
    </div>
  </div>
</footer>
