<footer class="footer">
  <div class="row">
    <div class="large-6 columns">
      <h3  style="font-weight:bold">Ondřej Profant</h3>
      <ul class="no-bullet">
        <li>poslanec</li>
        <li>zastupitel Hl. m. Prahy</li>
      </ul>
    </div>
    <div class="large-6 columns large-text-right">
      <ul class="no-bullet">
        <li>Malostranské náměstí 7</li>
        <li>Praha 1</li>
        <li>+420 726 362 025 (kancelář)</li>
        <li><a href="mailto:{{site.email}}">{{site.email}}</a></li>
    </div>
  </div>
</footer>
