<aside class="rbox">
  {% if site.twitter_username %}
    <a class="twitter-timeline" href="https://twitter.com/{{site.twitter_username}}" data-height="1060">Krátce od @{{ site.twitter_username }}</a>
  {% endif %}

  {% comment %}
    <h4>Kategorie</h4>
    <ul>
      <li><a href="#">opendata</a></li>
      <li><a href="#">e-government</a></li>
      <li><a href="#">sněmovna / politika</a></li>
      <li><a href="#">cyklistika</a></li>
      <li><a href="#">ostatní</a></li>
    </ul>
  {% endcomment %}
</aside>
