<aside class="rbox">
  {% if site.twitter_username %}
    <a class="twitter-timeline" data-lang="cs" data-height="1080" data-dnt="true" data-theme="light" href="https://twitter.com/{{site.twitter_username}}">Krátce od @{{ site.twitter_username }}</a> 
  {% endif %}

  {% comment %}
    <h4>Kategorie</h4>
    <ul>
      <li><a href="#">opendata</a></li>
      <li><a href="#">e-government</a></li>
      <li><a href="#">sněmovna / politika</a></li>
      <li><a href="#">cyklistika</a></li>
      <li><a href="#">ostatní</a></li>
    </ul>
  {% endcomment %}
</aside>
