<div class="row">
	<div class="cover large primary show-for-medium" style="height: 250px; background-image: url('{{ site.baseurl }}{{site.cover_image}}'); background-repeat: no-repeat; background-position: right;background-color: white;">
		<div class="text-center" style="position:relative;width:70%;">
			<p style="position:absolute;top:0px;left:50%;font-size:28px;transform: translate(-50%, 0);font-weight:bold">{{site.author}}</p>
			<p style="position:absolute;top:40px;left:50%;font-size:20px;transform: translate(-50%, 0);">poslanec</p>
			<img src="{{ site.baseurl }}/assets/img/logo.svg" style="position:absolute;top:160px;left:50%;transform: translate(-50%, 0);height:80px;"
			/>
			<a href="{{ 'kategorie' | baseurl }}" style="color:black">
				<p style="position:absolute;top:65px;left:calc(50% - 80px);font-size:20px;opacity: 0.7;transform: translate(-50%, 0)">open data</p>
				<p style="position:absolute;top:65px;left:calc(50% + 40px);font-size:18px;opacity: 0.5;transform: translate(-50%, 0)">open source</p>
				<p style="position:absolute;top:107px;left:calc(50% + 100px);font-size:16px;opacity: 0.4;transform: translate(-50%, 0)">sněmovna</p>
				<p style="position:absolute;top:110px;left:calc(50%  + 20px);font-size:24px;opacity: 0.9;transform: translate(-50%, 0)">Linux</p>
				<p style="position:absolute;top:110px;left:calc(50% - 135px);font-size:20px;opacity: 0.8;transform: translate(-50%, 0)">doprava</p>
				<p style="position:absolute;top:86px;left:calc(50% - 53px);font-size:32px;opacity: 0.2;transform: translate(-50%, 0)">Piráti</p>
				<p style="position:absolute;top:128px;left:calc(50% - 50px);font-size:16px;opacity: 0.6;transform: translate(-50%, 0)">cyklo</p>
				<p style="position:absolute;top:80px;left:calc(50% + 110px);font-size:22px;opacity: 0.9;transform: translate(-50%, 0)">UX</p>
				<p style="position:absolute;top:90px;left:calc(50% - 160px);font-size:16px;opacity: 0.4;transform: translate(-50%, 0)">open access</p>
				<p style="position:absolute;top:90px;left:calc(50% + 29px);font-size:17px;opacity: 0.8;transform: translate(-50%, 0)">big data</p>
				<p style="position:absolute;top:124px;left:calc(50% + 134px);font-size:20px;opacity: 0.6;transform: translate(-50%, 0)">Praha</p>
				<p style="position:absolute;top:140px;left:calc(50% + 0px);font-size:25px;opacity: 0.7;transform: translate(-50%, 0)">svoboda</p>
				<p style="position:absolute;top:140px;left:calc(50% - 140px);font-size:16px;opacity: 0.6;transform: translate(-50%, 0)">kyberbezpečnost</p>
				<p style="position:absolute;top:133px;left:calc(50% + 80px);font-size:25px;opacity: 0.9;transform: translate(-50%, 0)">EU</p>
			</a>
		</div>
	</div>
	<div class="cover large primary hide-for-medium" style="height: 150px; background-image: url('{{ site.baseurl }}{{site.cover_image}}'); background-repeat: no-repeat; background-position: right;background-color: white; background-size:auto 150px">
		<h1 class="main-title">{{site.author}}</h1>
		<h3>poslanec</h3>
		<a href="kategorie" style="color:black">
			<img src="{{ '/assets/img/logo.svg' | relative_url }}" style="height:80px;" />
		</a>
	</div>
</div>