<div class="sitebanner show-for-medium">
	<div class="row">
		<div class="columns medium-12">
			<div class="sitebanner__cover">
				<div class="tagcloud">
					<div class="tagcloud__canvas">
							{% assign cats = site.categories | sort %}
							{% assign total_posts_in_cats = 0.0 %}
							{% for cat in cats %}
								{% assign posts_in_cat = cat | size %}
								{% assign total_posts_in_cats = total_posts_in_cats | plus: posts_in_cat %}
							{% endfor %}
							{% for cat in cats %}
								{% assign weight = cat[1] | size | divided_by: total_posts_in_cats %}
								{% assign compensated_weight = weight | times: weight | times: weight | times: weight | times: 25 %}
								{% assign opacity = 0.2 | plus: compensated_weight %}
								{% assign size = compensated_weight | times: 80 | plus: 200 %}
								<a class="tagcloud__tag" href="{{ 'kategorie' | relative_url }}#{{ cat[0] | slugify }}" style="font-size: {{ size }}%; opacity: {{ opacity }};">{{ cat[0] }}</a>
							{% endfor %}

						{% comment %}
						<!-- <a href="{{ 'kategorie#opendata' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:65px;left:calc(50% - 80px);font-size:20px;opacity: 0.7;transform: translate(-50%, 0)">open data</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:65px;left:calc(50% + 40px);font-size:18px;opacity: 0.5;transform: translate(-50%, 0)">open source</a>
						<a href="{{ 'kategorie#Sněmovna' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:107px;left:calc(50% + 100px);font-size:16px;opacity: 0.4;transform: translate(-50%, 0)">sněmovna</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:110px;left:calc(50%  + 20px);font-size:24px;opacity: 0.9;transform: translate(-50%, 0)">Linux</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:110px;left:calc(50% - 135px);font-size:20px;opacity: 0.8;transform: translate(-50%, 0)">doprava</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:86px;left:calc(50% - 53px);font-size:32px;opacity: 0.2;transform: translate(-50%, 0)">Piráti</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:128px;left:calc(50% - 50px);font-size:16px;opacity: 0.6;transform: translate(-50%, 0)">cyklo</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:80px;left:calc(50% + 110px);font-size:22px;opacity: 0.9;transform: translate(-50%, 0)">UX</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:90px;left:calc(50% - 160px);font-size:16px;opacity: 0.4;transform: translate(-50%, 0)">open access</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:90px;left:calc(50% + 29px);font-size:17px;opacity: 0.8;transform: translate(-50%, 0)">big data</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:124px;left:calc(50% + 134px);font-size:20px;opacity: 0.6;transform: translate(-50%, 0)">Praha</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:140px;left:calc(50% + 0px);font-size:25px;opacity: 0.7;transform: translate(-50%, 0)">svoboda</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:140px;left:calc(50% - 140px);font-size:16px;opacity: 0.6;transform: translate(-50%, 0)">kyberbezpečnost</a>
						<a href="{{ 'kategorie' | baseurl }}" class="tagcloud__tag" style="position:absolute;top:133px;left:calc(50% + 80px);font-size:25px;opacity: 0.9;transform: translate(-50%, 0)">EU</a> -->
						{% endcomment %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
