<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text "><a style="color: #adadad;" href="{{ site.baseurl }}/">{{site.title}}</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li class="menu-text"><a href="{{ site.baseurl }}/bio/">Bio</a></li>
      <li class="menu-text"><a href="{{ site.baseurl }}/transparentnost/">Transparentnost</a></li>
      {% comment %}<li class="menu-text"><a href="{{ site.baseurl }}/zapisky/">Zápisky</a></li>{% endcomment %}
    </ul>
  </div>
</div>
