$foundation-palette: (
  primary: #0a0a0a,
  secondary: #fff,
  ternary: lighten(#000, 13%),
  success: #3adb76,
  warning: #ffae00,
  alert: #cc0303,
  dark: #343434,
);

$light-gray: #f3f3f3;
$medium-gray: #eaeaea;
$dark-gray: #8a8a8a;

$body-background: map-get($foundation-palette, secondary);
$body-font-color: map-get($foundation-palette, primary);
$body-font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$body-antialiased: true;

$global-weight-normal: 300;
$global-weight-bold: 700;

$thumbnail-border: none;
$thumbnail-shadow: none;

$breakpoints: (
  small: 0,
  middle: 480px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
$print-breakpoint: large;
$breakpoint-classes: (small middle medium large);

$text: (
    weight: (
        default: 300,
        mid: 400,
        bold: 700
    )
);

$headers: (
    super: (
        family: "'Bebas Neue', Helvetica, Arial, sans-serif",
        weight: bold,
        letter-spacing: 0.005em,
        line-height: 1.1,
        variants: "h1" "h2" "h3" "h4" "h5" "h6",
        sizes: (
            small: (
                "h1": 3.124rem,
                "h2": 3.124rem,
                "h3": 2.828rem,
                "h4": 2.209rem,
                "h5": 2rem,
                "h6": 1.563rem
            ),
            medium: (
                "h1": 3.874rem,
                "h2": 3.124rem,
                "h3": 2.74rem,
                "h4": 2.209rem,
                "h5": 1.938rem,
                "h6": 1.563rem
            )
        )
    ),
    main: (
        family: "'Roboto Condensed', Helvetica, Arial, sans-serif",
        weight: 700,
        variants: "h1" "h2" "h3" "h4" "h5" "h6",
        sizes: (
            small: (
                "h1": 2.474rem,
                "h2": 1.999rem,
                "h3": 1.75rem,
                "h4": 1.414rem,
                "h5": 1.238rem,
                "h6": 1rem
            ),
            medium: (
                "h1": 2.474rem,
                "h2": 1.999rem,
                "h3": 1.75rem,
                "h4": 1.414rem,
                "h5": 1.238rem,
                "h6": 1rem
            )
        )
    ),
    sub: (
        family: "'Roboto Condensed', Helvetica, Arial, sans-serif",
        weight: 400,
        variants: "h1" "h2" "h3" "h4" "h5" "h6",
        sizes: (
            small: (
                "h1": 2.474rem,
                "h2": 1.999rem,
                "h3": 1.75rem,
                "h4": 1.414rem,
                "h5": 1.238rem,
                "h6": 1rem
            ),
            medium: (
                "h1": 2.474rem,
                "h2": 1.999rem,
                "h3": 1.75rem,
                "h4": 1.414rem,
                "h5": 1.238rem,
                "h6": 1rem
            )
        )
    ),
    alt: (
        family: "'Roboto Condensed', Helvetica, Arial, sans-serif",
        weight: 300,
        variants: "h1" "h2" "h3" "h4" "h5" "h6",
        sizes: (
            small: (
                "h1": 2.474rem,
                "h2": 1.999rem,
                "h3": 1.75rem,
                "h4": 1.414rem,
                "h5": 1.238rem,
                "h6": 1rem
            ),
            medium: (
                "h1": 2.474rem,
                "h2": 1.999rem,
                "h3": 1.75rem,
                "h4": 1.414rem,
                "h5": 1.238rem,
                "h6": 1rem
            )
        )
    )
);
