body, h1, h2, h3, h4, h5, h6, body {
    font-family: "Open Sans",Helvetica,Roboto,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.3;
    color: #0a0a0a;
}
h1, h2, h3, h4, h5, h6{
	margin:0;
}



.cover {
	border: 0px;
	border-bottom: 5px solid #f3f3f3;
	margin: 0 0 1rem;
	padding: 1rem;
	border-radius: 0;
	position: relative;
	background-color: #fff;

}

.top-bar, .top-bar a {
    color: #fff;
		}
.top-bar, .top-bar ul  {
  background-color: #343434;
}

.top-bar li:hover, .top-bar li:focus  {
  background-color: #646464;
}

.menu-text{
  padding:0;
}

.thumbnail{
	max-width: 100%;
	border: 0;
	box-shadow: None;
  margin-bottom: 0px;
}

.main-title{
	font-weight: bold;

}


.icon {
	font-size: 2em;
	padding: 5px;
	color: white;
}

.fi-social-facebook:hover, .fi-social-facebook:focus {
	color: #3b5998;
}
.fi-social-twitter:hover, .fi-social-twitter:focus {
	color: #0084b4;
}
.fi-social-github:hover, .fi-social-github:focus {
	color: #913399;
}
.fi-mail:hover, .fi-mail:focus  {
	color: #f7941d;

}
.bottompadding{

  padding-bottom: 1rem;
}

.rbox {
	padding-left: 70px;
}

/*.blog-post{
  position: relative;
}*/

.textbox {
  position: relative;
  height: 100%;
  /*min-height: 250px;*/
}

.date-author {
  position: absolute;
  bottom: 0;
  width:100%;
}

/*.read-more {
  margin-bottom: 0.2rem;

}*/

}
