---
layout: content-page
title:  "Interpelace"
permalink: "interpelace/"
---

{% assign interpelace = site.data.interpelace | sort: 'odeslani' | reverse  %}

<p>Písemné a ústní interpelace poslance Ondřeje Profanta. V tabulce je <b>{{interpelace |size}} interpelací</b>:</p>

	<table>
	<thead>
		<tr>
			<th>Datum odeslání</th><th>Datum přijetí odpovědi</th><th>Interpelace</th><th style="min-width: 200px;">Popis</th><th>Odpověď</th><th>Přílohy</th>
		</tr>
	</thead>
	<tbody>
		{% for a in interpelace %}
			<tr>
				<td>{{a.odeslani | date:"%d.%m.%y"}}</td>
				<td>{{a.prijeti | date:"%d.%m.%y"}}</td>
				<td><b><a href="{{a.url_dotaz}}">{{a.nazev}}</a></b></td>
				<td>{{a.popis}}</td>
				<td><a href="{{a.url_odpoved}}">{{a.odpoved}}</a></td>
				{% assign count = 0 %}
				<td>{% for p in a.prilohy %}
					 {% assign count = count | plus: 1 %}
					<a href="{{p}}">[{{ count }}]</a>
				{% endfor %}
			</td>
			</tr>
			{% endfor %}
	</tbody>
</table>
