---
layout: content-page
title:  "Mediální výstupy"
permalink: "medialni-vystupy/"
---

{% assign media = site.data.media %}
{% assign media = media | reverse %}

<p>Na tomto webu je {{site.posts | size}} článků. V tabulce je {{media |size}} článků z pirátských webů:</p>

<table>
	<thead>
		<tr>
			<th>Datum</th><th>Název</th><th>Tagy</th>
		</tr>
	</thead>
	<tbody>
		{% for a in media | %}
		{% assign bold = a.author contains "Profant" %}
		<tr>
			<td>{{a.date}}</td> 
			<td><a href="{{a.url}}">{%if bold%}<b>{%endif%}{{a.title}}{%if bold%}</b>{%endif%}</a></td>
			<td>{{a.tags}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
