---
layout: post
categories: static-page
permalink: "uspechy/"
comments: false
---



<div class="timeline">
  {% for uspech in site.data.uspechy %}

   <div class="timeline-item">
     <div class="timeline-icon">
       <i class="fa fa-{{uspech.icon}}" aria-hidden="true"></i>
     </div>
     {% assign mod = forloop.index | modulo:2 %}
     {% if  mod == 0 %}
     <div class="timeline-content right">
     {% else %}
     <div class="timeline-content">
     {% endif %}
       <p class="timeline-content-date">{{uspech.date | date:"%d. %m. %Y"}}</p>
       <p class="timeline-content-date">{{uspech.title}}</p>
       <p>{{uspech.description}}</p>
       {% if uspech.link %}
       {% for odkaz in uspech.link  %}
       <p><a href= {{odkaz}}>Odkaz</a></p>
      {% endfor %}
       {% endif %}
     </div>

   </div>
   {% endfor %}
</div>
