---
layout: page
categories: static-page
title: "Zápisky"
permalink: "zapisky/"
comments: false
---

{% for post in site.posts %}
<div class="blog-post">
  <a href="{{site.baseurl}}{{post.url}}"><h3>{{post.title}}</h3></a>
  <small>{{post.date | date:"%d. %m. %Y"}} {{post.author}}</small><br />
  {% if post.img %}
  <div class="medium-6 columns noleftpadding">
  <img class="thumbnail" src="{{ post.img | prepend: 'assets/img/posts/' | relative_url }}">
  </div><div class="medium-6 columns noleftpadding">
  {% else %}
  <div>
  {% endif %}
  {{post.excerpt | markdownify }}
  <p><a href="{{site.baseurl}}{{post.url}}">Číst dále</a></p>
  </div>
  <hr />
</div>
{% endfor %}
