.post__author {
  @include headerStyle('h5', sub);
}

.post__thumbnail {
  margin-bottom: 1rem;
}

.post__excerpt {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 1rem;
}

.post__comments {
  margin-top: 2rem;
}

.post__content {
  font-size: 120%;
}
