

.tagcloud__canvas {
  text-align: center;
  max-width: 23rem;
}

.tagcloud__tag {
  transition: opacity .3s ease-in-out;
  margin: .1rem .5rem;
  line-height: 1;

  @include headerStyle('h1', super);
}

.tagcloud__canvas {
  &:hover .tagcloud__tag {
    opacity: .1 !important;
  }
}

.tagcloud__canvas .tagcloud__tag:hover {
  opacity: 1 !important;
}
