---
layout: default
---

<div class="row" id="content" style="padding-top: 1rem">
  <div class="large-8 columns text-justify">
    <h1 style="padding-top: 5px;">{{ page.title }}</h1>
    <p>
      <small>{{page.date | date:"%d. %m. %Y"}} {{page.author}}</small>
    </p>
    {% if page.img %}
    <img class="thumbnail" src="{{page.img | prepend: 'assets/img/posts/' | relative_url}}">
    <br /> {% endif %}
    <br />
    {{ content }}
    <br />
    <hr>
    {% if page.comments %} {% include disqus.html %} {% endif %}
  </div>
  {% include rbar.html %}
</div>
